@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@600&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
}
header {
  background-color: gold;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 64px;
  height: 82px;
  border-radius: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -16px;
}
  
  .logo img {
    max-width: 800%;
    max-height: 150%;
    margin-right: 50%;
  }

nav {
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}
 body{
  font-size: 30px;
  margin: 10px;
 } 
 #progress-bar {
  width: 0%;
  height: 50px;
  /* width: 50px;
  height: 0%; */
  background-color: rgb(11, 251, 7);
  position: fixed;
  top: 0;
  left: 0;
}
